{% extends 'base.html' %}

{% block title %}
    <title>Write Question</title>
{% endblock %}

{% block name %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Question</h1>
        <p class="fs-5 text-muted">Here you can see your questions and their status.</p>
        {% if msg %}
            <p class="fs-5 text-muted">{{ msg }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block body %}
    <main>
        <span>Title: {{ question.title }}</span>
        <p>Description: {{ question.desc }}</p>
        <p>Cost: {{ question.cost }}</p>
        <p>Answer: {{ question.answer }}</p>
    </main>



{% endblock %}

